body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}
#pi-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#pi-header {
    padding: 0;
    width: 100%;
    position: fixed;
    height: 140px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
#pi-map-main{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 140px;
}
#pi-map-datapane{
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    height: calc(100vh - 140px);
    box-sizing: border-box;
}
#pi-map-map{
    flex: 1;
    background-color: #ccc;
    padding: 0;
    height: calc(100vh - 140px);
    box-sizing: border-box;
}
.pi-location-title{
    color: #0cc1b0;
}
.pi-data-table{
    width: 90%;
    margin: 0 5%;
}
.pi-data-table td{
    border-bottom: 1px solid #ddd;
    height: 65px;
    padding: 5px;
}
.pi-data-table-2 td{
    width: 50%;
}
