body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}
h1 {
    font-size: 30px;
}
#pi-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#pi-header {
    padding: 0;
    width: 100%;
    position: fixed;
    height: 140px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
#pi-map-main{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 140px;
}
#pi-map-datapane{
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    height: calc(100vh - 140px);
    box-sizing: border-box;
}
#pi-map-map{
    flex: 1;
    background-color: #ccc;
    padding: 0;
    height: calc(100vh - 140px);
    box-sizing: border-box;
}
#pi-location-title{
    color: #0cc1b0;
}
.pi-data-table{
    width: 90%;
    margin: 0 5%;
}
.pi-data-table td{
    border-bottom: 1px solid #ddd;
    height: 65px;
    padding: 5px;
}
.pi-data-table-2 td{
    width: 50%;
}
.pi-amenity-button {
    width: 100%;
    box-sizing: border-box;
    height: 33px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 13px;
    display: flex;
}
.pi-amenity-button-active{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #e9fbff;
}
.pi-amenity-button img{
    width: 20px;
    padding-right: 8px;
}
.pi-ab-icon{
    line-height: 13px;
    display: flex;
    width: 28px;
}
.pi-ab-label{
    line-height: 13px;
    text-align: center;
    flex-grow: 1;
    margin-left: -28px;
    display: flex;
    justify-content: center;
    padding: 8px;
}
