<script src="https://d3js.org/d3.v7.min.js"></script>
<div class="pi-section-controls">
    <ul class="pi-demography-controls">
        <li class="pi-dc pi-dc-active" data-demography="combined"><a href="#combined">Combinato</a></li>
        <li class="pi-dc" data-demography="education"><a href="#education">Istruzione</a></li>
        <li class="pi-dc" data-demography="unoccupied"><a href="#unoccupied">Alloggi non occupati</a></li>
        <li class="pi-dc" data-demography="homeless"><a href="#homeless">Senza tetto</a></li>
        <li class="pi-dc" data-demography="camp"><a href="#camp">Campi</a></li>
        <li class="pi-dc" data-demography="institutional"><a href="#institutional">Istituzionale</a></li>
        <li class="pi-dc" data-demography="age"><a href="#age">Età</a></li>
        <li class="pi-dc" data-demography="alien"><a href="#alien">Forestieri</a></li>
    </ul>
    <h1>{{page_title|safe}}</h1>
    Rapporto demografico per la località selezionata.
</div>
<div class="pi-data-section">
    {{section_content|safe}}
</div>