<div class="pi-section-controls">
    <ul class="pi-demography-controls">
        <li class="pi-dc pi-dc-active" data-demography="overall"><a href="#">Combined</a></li>
        <li class="pi-dc" data-demography="education"><a href="#">Education</a></li>
        <li class="pi-dc" data-demography="unoccupied"><a href="#">Unoccupied dwellings</a></li>
        <li class="pi-dc" data-demography="homeless"><a href="#">Homeless</a></li>
        <li class="pi-dc" data-demography="camp"><a href="#">Camps</a></li>
        <li class="pi-dc" data-demography="institutional"><a href="#">Institutional</a></li>
        <li class="pi-dc" data-demography="age"><a href="#">Age</a></li>
    </ul>
    <h1>{{page_title|safe}}</h1>
    Hello Demography
</div>
<div class="pi-data-section">
    {{section_content|safe}}
</div>