    <div class="scrollable-content">
        <h1>{{page_title|safe}}</h1>
        <div class="amenity-buttons-grid">
            {% for item in amenities_buttons %}
                <button class="pi-amenity-button" data-amenity="{{item.amenity}}">
                    <span class="pi-ab-icon"><img src="/static/images/amenities/{{item.icon}}" alt="Icon {{item.label}}" /></span>
                    <span class="pi-ab-label">{{item.label}}</span></button>
            {% endfor %}
        </div>
    </div>
    <div class="pi-data-section">
        {{section_content|safe}}
        <div class="additional-text">
            <p class="credits">Data source: OpenStreetMap</p>
        </div>
    </div>