<script src="https://d3js.org/d3.v7.min.js"></script>
<div class="pi-section-controls">
    <ul class="pi-demography-controls">
        <li class="pi-dc pi-dc-active" data-demography="combined"><a href="#">Combinato</a></li>
        <li class="pi-dc" data-demography="education"><a href="#">Istruzione</a></li>
        <li class="pi-dc" data-demography="unoccupied"><a href="#">Alloggi non occupati</a></li>
        <li class="pi-dc" data-demography="homeless"><a href="#">Senza tetto</a></li>
        <li class="pi-dc" data-demography="camp"><a href="#">Campi</a></li>
        <li class="pi-dc" data-demography="institutional"><a href="#">Istituzionale</a></li>
        <li class="pi-dc" data-demography="age"><a href="#">Età</a></li>
        <li class="pi-dc" data-demography="alien"><a href="#">Forestieri</a></li>
    </ul>
    <h1>{{page_title|safe}}</h1>
    Rapporto demografico per la località selezionata.
</div>
<div class="pi-data-section">
    {{section_content|safe}}
</div>